#display {
    width: 70vw;
    height: 300px;
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 250, 205, 0.8);
}

#numDisplay {
    margin: auto;
    width: 100px;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
}

#controls {
    width: 30vw;
    margin: 50px auto;
    text-align: center;
}